In [1]:
print('python')

python

In [2]:
import numpy as np

In [3]:
import math

In [4]:
import pandas as pd

In [5]:
def wavelength(f, c=1500):
    """
    Calculate
    """
    return c/f

In [6]:
def wave_number(l):
    return (2*pi)/l

In [7]:
def active_radius(k,bw):
    return 3.2/(k*sin(bw/2))

In [8]:
def nearfieldRound(dt,l):
    (pi*(dt^2)) / (4*l)

In [9]:
def badz(d,q,T,c=1500):
    (d/sin(90-q)) - d + c * (T/2)

In [10]:
pd.DataFrame({'First':[1,2,3],
             "Second":["One","Two","Three"]})

   First Second
0      1    One
1      2    Two
2      3  Three

In [ ]:
mamba install -c conda